{% extends 'webapp/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container mt-4">
  <div id="main">
    <span style="font-size: 30px; cursor: pointer" onclick="openNav()">&#9776;</span>

    <h5>Welcome, {{ user }}</h5>
    <h1 class="dashboard">Category</h1>

    <br />

    <a class="btn btn-dark btn-sm" href="{% url 'create-record' %}">
      Create record &nbsp; <i class="fa fa-plus" aria-hidden="true"></i>
    </a>

    <br />
    <br />

    

  



    <table id="table" class="table table-sm table-light table-hover shadow">
      <thead class="table-active">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Description</th>

          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% if records and records|length > 0 %}
          {% for record in records %}
            <tr>
              <td>{{ record.category_id }}</td>
              <td>{{ record.category_desc }}</td>

              <td>
                <a class="btn btn-dark btn-sm" href="{% url 'update-record' record.id %}">Edit</a>
                <a class="btn btn-danger btn-sm" data-toggle="modal" data-target="#confirmDeleteModal" onclick="setDeleteUrl('{{ record.id }}')">Delete</a>
              </td>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td colspan="4" class="text-center">No records found</td>
          </tr>
        {% endif %}
      </tbody>
    </table>

    <!-- Reusable Deletion Confirmation Modal -->
    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="confirmDeleteModalLabel">Delete Confirmation</h5>
            
          </div>
          <div class="modal-body">
            Are you sure you want to delete this record?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Cancel</button>
            <a id="delete-record-btn" class="btn btn-danger btn-sm" href="#">Delete</a>
          </div>
        </div>
      </div>
    </div>

    <script>
      // Set the correct delete URL for the deletion confirmation modal
      function setDeleteUrl(recordId) {
        var deleteUrl = "{% url 'delete-record' 9999 %}".replace('9999', recordId);
        document.getElementById('delete-record-btn').setAttribute('href', deleteUrl);
      }
    </script>

    

  </div>
</div>

{% endblock %}
